body{background-color:black}



   

  @media only screen and (max-width:600px) {
    
  .pagecontainer{ 
    
    display: flex;
    flex-direction: column;
    margin: auto;justify-content: space-between;align-items: center;
  
}

.pagecontainer>div{
  margin-bottom: 30px;max-width: 300px;max-height: 600px;
}


#about{margin-left:3;
color: blue;
  opacity: 0.8;
  font-size: 2.3rem;
margin-top: -0px;
}

.skills{
  
  margin-top:-20px;

}


.skills>li>img{max-width: 60px;
  margin:4px;
  opacity: 0.6;
  max-height: 60px}

  footer{position: fixed;
  bottom: 0;max-height: 140px;
background-color: yellow;}

.skills>li{list-style: none;}


.projectsboxhide{
  transform:translateX(40vh);
opacity:  0;
max-width: 0;
max-height: 0;
}



.projectsboxshown{
  margin: 30px; opacity: 0.5;
  border: 3px solid yellow;
  background-color: aqua;

  transform: none;
  transition: width 3s ease-in-out, transform 1s ease-in-out;
  max-width: px; 
  max-height: px;
}

a{text-decoration: none;}

.golive{margin-left: 17px; padding:5px;margin-right: 3px;
  padding-left: 30px;padding-right: 30px;
  border-radius: 5px;width: 100px;
  background-color: rgb(10, 168, 155);
  border: 0.3px solid rgb(61, 36, 189);
  color: rgb(217, 231, 234);
  box-shadow: 0 3 3px green;
font-size: 0.5rem;}


.golive:hover{
  color:green;background-color: bisque;}


  .stacks{max-width: 80px;
    
    margin-left: 430px;
  max-height: 80px;}

.golivecon{max-width: 400px;
  

}

.projects>div>img{margin-left: 10px;
  margin-right: 10px;
  opacity: 0.6;  
}






.projecttittle {color: rgb(8, 8, 159);opacity: 0.9;
   margin-left: 40px;
   margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem}


 h2 {color: rgb(8, 8, 159);opacity: 0.9;
  margin-top: -50px;
  font-size: 4.5rem;
  margin-left: 10px;
}



#technical{color: blue;
  margin-left: 16px;
  opacity: 0.8;
  margin-top: -6px;
  font-size: 1.5rem;
  }


  .coded_wisdom{color: blue;
    margin-left: 5px;
    opacity: 0.8;margin-right: 70px;
    margin-top: 0px;
    font-size: 1.2rem;
    }

h1{color: blue;
  margin-left: 10px;
  opacity: 0.8;
  margin-top: -15px;
  font-size: 2rem;
  }

  h3{color: blue;
    margin-left: 10px;
      opacity: 0.8;
      margin-top: 3;
      font-size: 1.6rem;
      }


button {
  max-width:  90%;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 7px;
  
  opacity: 0.85;
  padding-top: 6px;padding-bottom: 6px;
  font-size: 18px;
  
  margin:12px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white;
  background-color:rgb(112, 220, 232);
  box-shadow: 1px 3 3px green, 1px 3 3px white;
}


button:hover{background-color: rgb(22, 218, 90);
}





.hire_button{
margin-left: 17px; padding:3px;margin-right: 3px;
  padding-left: 20px;padding-right: 20px;
  border-radius: 5px;
  
  border: 0.3px solid rgb(61, 36, 189);
  
  box-shadow: 0 3 3px green;
font-size: 0.5rem;
  
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white;
  background-color:rgb(112, 220, 232);

}





  .hidedesc
   {opacity: 0;  font-size: 0;
  transform: translateY(40vh);
 
  max-width: 0%;
}

.showdesc
{
  transform: none;
  transition: opacity 3s ease-in-out, width 3s ease-in-out,font-size 1.3s ease-out, transform 1.3s ease-in-out;
  color: rgb(206, 206, 225);
  opacity: 0.7;
font-size: 0.8rem;

}



.devimagehidden2{ transform:translateY(40vh);
  max-width: 0;max-height: 0;
  opacity: 0;
}
.devimageshown2{margin-bottom: 14px;
  transform: none;
  transition: opacity 3s ease-in-out, width 3s ease-in-out, transform 1s ease-in-out;
  max-width: 203px; margin-left: 4px; 
  opacity: 1;max-height: 250px;
}

.devimagehidden1{ transform:translateY(40vh);
  max-width: 0;max-height: 0;
  opacity: 0;
}


.devimageshown1{
  transform: none;
  transition: opacity 3s ease-in-out, width 3s ease-in-out, transform 1.5s ease-in-out;
  margin-top:-50px; 
  max-width: 350px; margin-left: 10px; 
  opacity: 1;max-height: 250px;
}

.hidemenuitems{z-index:0; display: none;
 
  max-width: 0;
  
  
}

.showmenuitems{max-width:500px;
  background-color: rgb(28, 15, 15);
transition-property:width;
max-height: 400px;
top: 0px;
position: absolute;
margin-left: -155px;
box-shadow: 0 3px 8px greenyellow;
z-index: 03px;
display: block;
}


ul{margin: 6px;
  list-style: none;
}


ul>li{padding-right: 5px; margin-right: -6px;
  margin-left: -45px;
font-size: 3.5rem;color: blue;}


ul>li:hover{color:rgb(121, 190, 16);
background-color: rgb(52, 50, 50);}


.navmain{background-color: rgb(11, 11, 11);
  display: flex;
  flex-direction: row;
  max-width: 100%;
justify-content: space-between;
  
  box-shadow: 3 1px 4px rgb(26, 36, 34)-1px -1px 3 rgb(136, 13, 13);
  }

.menubar{
  
  margin-top: 3;
  
margin-right: 4px;
}


#closemenu{font-size:  28px;
  max-width: 40px; max-height:  70px;
  border: none; margin-top:  30px; opacity: 0.5;
  margin-left:  340px;
}


.menubar>li{width: 25px;
background-color: rgb(210, 206, 199);
margin:5px;
opacity: 0.8;
list-style: none;
height: 6px;}
}
 

